.home-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  section {
    padding: 50px 20px;
    text-align: center;
  }
  
  #home {
    background: linear-gradient(to bottom, #bbb9be, #fcfcfc);
    color: rgb(2, 2, 2);
    padding: 100px 20px;
  }
  
  #home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  #home p {
    font-size: 1.2rem;
  }
  
  #services {
    background-color: #f9f9f9;
  }
  
  #services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .services-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .service-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .service-item h3 {
    font-size: 1.5rem;
    color: #6a11cb;
  }
  
  .service-item p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  #contact {
    background-color: #f4f4f4;
  }
  
  #contact ul {
    list-style: none;
    padding: 0;
  }
  
  #contact li {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  #location {
    background-color: #fff;
  }
  
  #location iframe {
    border: 0;
    border-radius: 10px;
  }
  