@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

/* Base Styles */
* {
  font-family: 'Albert Sans', sans-serif;
}

/* Navbar Structure */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #CDEDF6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  z-index: 100;
  cursor: url('../../images/pawCursorAny.png'), auto;
}

.navbarContent {
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*left: 20px;*/
  cursor: url('../../images/pawCursorPoint.png'), auto;
  padding: 10px;
  position: relative;
  z-index: 101;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background-color: #3E6680;
  border-radius: 14px;
  margin: 3px 0;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -10px);
}

/* Logo */
.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 110px; 
  cursor: url('../../images/pawCursorPoint.png'), auto;
  width: auto;
}

/* Navigation Menu */
.navbarList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  justify-content: flex-end;
  width: 70%;
}

.navbarItem {
  position: relative;
  margin: 0 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  transition: color 0.3s, transform 0.3s;
}

.navbarItem:hover {
  color: #3E6680;
  transform: scale(1.1);
}

.navbarItem::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #3E6680;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  transform: translateX(0);
}

.navbarItem:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.navbarLink {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.navbarLink:hover {
  cursor: url('../../images/pawCursorPoint.png'), auto;
  color: #3E6680;
}

/* Right Section */
.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto; 
}

/* Buttons */
.loginButton, .logoutButton {
  background-color: #3E6680;
  color: #AEF0FF;
  padding: 0.5rem 1rem;
  border: 2px solid #3E6680;
  border-radius: 20px;
  cursor: url('../../images/pawCursorPoint.png'), auto;
  transition: background-color 0.3s, transform 0.3s;
}

.loginButton:hover, .logoutButton:hover {
  background-color: #CDEDF6;
  color: #3E6680;
  transform: scale(1.2);
}

.signupButton {
  background-color: transparent;
  color: #3E6680;
  padding: 0.4rem 1rem;
  border: 2px solid #3E6680;
  border-radius: 20px;
  cursor: url('../../images/pawCursorPoint.png'), auto;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.signupButton:hover {
  background-color: #3E6680;
  color: #AEF0FF;
  transform: scale(1.2);
}

/* User Menu */
.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 1.2rem;
  color: #3E6680;
  font-weight: bold;
}

/* Scroll Progress Bar */
.scrollProgressBar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 0;
  height: 10px;
  background-color: #3E6680;
  transition: width 0.2s ease-in-out;
  z-index: 105;
}

/* Modal Styles */
.modalOverlay, .loginModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.modalOverlay {
  background: rgb(255, 255, 255, 0.271);
}

.loginModalOverlay {
  background: rgba(17, 17, 17, 0.271);
  z-index: 1000;
}

.modalContent {
  background: #E3F2FD;
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  text-align: left;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Avatar and Image */
.modalContent .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #B3E5FC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 0 auto 10px;
  position: relative;
}

.modalContent .avatar .camera-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.modalContent img {
  position: center;
}

/* Form Elements */
.modalContent p {
  margin: 10px 0 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.modalContent input {
  width: 93%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: left;
  background: white;
}

/* Modal Buttons */
.modalButtons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
  width: 100%;
}

.modalButtons button {
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;
  min-width: 100px;
  width: auto;
}

.signOutSuccessModal {
  text-align: center;
}

.successContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.successImage {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.signOutSuccessModal p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.submitBtn {
  background-color: #ff4081; 
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: #f50057;
}

.cancelBtn {
  background-color: #999; 
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.cancelBtn:hover {
  background-color: #666; 
}

.mobileMenu {
  position: fixed;
  top: 80px;
  left: -250px; 
  width: 25%; 
  height: calc(100vh - 80px);
  background-color: #CDEDF6;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 99;
}

.mobileMenu.active {
  top: 80px;
  left: 0; 
  z-index: 100;
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.mobileMenuOverlay.active {
  opacity: 1;
  visibility: visible;
}

.mobileMenuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileMenuItem {
  margin: 15px 0;
}

.mobileMenuLink, .mobileLoginButton, .mobileSignupButton, .mobileLogoutButton{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #3E6680;
  font-size: 1.1rem;
  background: none;
  border: none;
  cursor: url('../../images/pawCursorPoint.png'), auto;
  transition: color 0.3s;
}

.mobileMenuLink:hover, .mobileLoginButton:hover, .mobileSignupButton:hover, .mobileLogoutButton:hover {
  color: #3E6680;
}

.mobileSignupButton {
  width: 100%;
  text-align: left;
  background: transparent;
  border: 2px solid #3E6680;
  border-radius: 20px;
  margin-top: 10px;
}

.mobileLoginButton {
  width: 100%;
  text-align: left;
  color: #AEF0FF;
  background-color: #3E6680;
  border: 2px solid #3E6680;
  border-radius: 20px;
  margin-top: 10px;
}

.mobileSignupButton {
  color: #3E6680;
  border-color: #3E6680;
}

.mobileLoginButton:hover {
  background-color: #AEF0FF;
  color: #3E6680;
}

.mobileSignupButton:hover {
  background-color: #3E6680;
  color: #AEF0FF;
}
.mobileLogoutButton {
  width: 100%;
  text-align: left;
  color: #AEF0FF;
  background-color: #3E6680;
  border: 2px solid #3E6680;
  border-radius: 20px;
  margin-top: 10px;
}
.mobileLogoutButton:hover {
  background-color: #3E6680;
  color: #AEF0FF;
}
@media screen and (max-width: 1024px) { 
  .navbarList {
    display: none;
  }

  .navbar{
    padding: 0;
    margin-left: 0;
    justify-content: left;
    height: 60px;
  }

  .hamburger {
    display: flex;
  }

  .logoContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .rightSection {
    display: none;
  }

  .hamburger {
    z-index: 101;
  }

  .mobileMenu.active {
    top: 60px;
    height: calc(100vh - 40px);
    width:130px;
  }

  .scrollProgressBar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 0;
    height: 10px;
    background-color: #3E6680;
    transition: width 0.2s ease-in-out;
    z-index: 105;
  }
}

@media screen and (max-width: 768px) { /* Mobile Phones (360x800) */
  .navbar {
    height: 50px;
  }

  .logo {
    height: 80px;
  }

  .rightSection {
    display: none;
  }

  .loginButton, .logoutButton, .signupButton {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  .userMenu {
    gap: 5px;
  }

  .profileImage {
    width: 25px;
    height: 25px;
  }

  .username {
    font-size: 1rem;
  }

  .mobileMenu.active {
    top: 50px;
    height: calc(100vh - 40px);
    width:130px;
  }

  .scrollProgressBar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 0;
    height: 10px;
    background-color: #3E6680;
    transition: width 0.2s ease-in-out;
    z-index: 105;
  }
  .mobileMenuLink,
  .mobileLogoutButton {
    padding: 10px 12px; /* Even more compact */
    font-size: 0.95rem; /* Smaller font for tiny screens */
    min-height: 40px; /* Still touch-friendly */
  }
 
}