
.footer-mobile {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    z-index: 900;
    background: transparent;
    display: flex;
    padding: 0;
  }
  
  .footer-mobile-p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: #EDBFC6;
    box-shadow: 4px 0 4px 0 #ff8c94;

  }
  
  .footer-btn-p {
    color: #ff4081;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .footer-btn-p:hover {
    color: #d81b60;
  }

  .footer-btn-p p {
    font-size: 10px; 
    margin: 0;
  }

  .footer-btn-notif {
    color: #ff4081;;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .footer-btn-notif:hover {
    color: #f50057;
  }

  .footer-btn-notif p {
    font-size: 10px; 
    margin-top: -4px;
  }

@media (min-width: 768px) {
    .footer-mobile {
      display: none; 
      z-index: 900;
    }
  }
  
@media (max-width: 767px) {
    .footer-mobile {
      display: flex;
    }
  }

  .notification-icon-container-mf {
    position: relative;
    display: inline-block;
  }
  
  .notification-dot-mf {
    position: absolute;
    top: 0px;
    right: 3px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    border-color: white;
    border-width: 15px;
  }