/* FindClinic.css */


.find-clinic-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #CDEDF6;
  min-height: 100vh; 
  padding-top: 30px;
}

.search-bar-container {
  margin-top: 100px; 
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 20px;
  width: 60%;
  margin-left: 500px;
}

.search-bar-container input[type="text"] {
  width: 85%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #004275;
  font-size: 1rem;
}

.search-bar-container button {
  padding: 10px 15px;
  background-color: #3E6680;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.search-bar-container button:hover {
  background-color: #CDEDF6;
  color: #3E6680;
  border: 2px solid #3E6680;
  
}

.filters-container {
  margin-top: -5%;
  width: 18%;
  background-color: #CDEDF6;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(92, 162, 237, 0.83);
  border-color: #5abffd;
  margin-left: 2%;
 
}

.filters-container h2 {
  text-align: center;
  color: #113B57;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.filter {
  margin-bottom: 15px;
}

.filter p {
  color: #113B57;
  font-size: 1rem;
  margin-bottom: 5px;
}

.filter label {
  display: block;
  color: #113B57;
  font-size: 1rem;
}

.quick-filter button {
  width: 100%;
  padding: 10px;
  background-color: #CDEDF6;
  border-radius: 20px;
  font-size: 1rem;
  border-color: #333;
  cursor: pointer;
}

.quick-filter button:hover {
  background-color: #f1c4c4;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #CDEDF6;
  border: 1px solid #001731;
  border-radius: 5px;
  font-size: 1rem;
  color: #03538b;
  cursor: pointer;
  display: center;
}

button.selected {
  background-color: #ffb6b6;
}

/* Clinic Card Styling */
/* Clinic Card Styling */
.clinic-list {
  width: 70%; /* Ensure the container uses full width */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 20px; /* Add spacing between cards */
  margin-left: 430px; /* Ensure space from the left edge */
  /* margin-top: -390px; */
  margin-top: -425px;
}
.no-clinics p{
  background-color: #cfe9ed;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(2, 93, 105, 0.875);
  font-weight:bold;
  color: #113B57;
}
.clinic-card {
  background-color: #cfe9ed;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(2, 93, 105, 0.875);
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 260px;
  height: 330px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.clinic-card img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.clinic-card h3 {
  color: #113B57;
  font-size: 1.25rem;
  margin-bottom: 3px;
}

.clinic-card p {
  color: #113B57;
  font-size: 1rem;
  margin-bottom: 3px;
}

.clinic-card .price {
  margin-top: auto;
  color: #4D9DE0;
  font-size: 1.1rem;
  font-weight: bold;
}

.clinic-card:hover {
  transform: translateY(-5px);
}

.clinic-card.selected {
  border: 2px solid #d3e9f7;
}


/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: #CDEDF6;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.modal img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px; 
  background-color: #EDBFC6;
  color: white;
  font-size: 1.1rem; 
  padding: 3px 6px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal:hover {
  background-color: #0494cd;
}
